
header {
    .icon {
        width: 20px;
        height: 20px;
        padding-right: 10px;
    }
    .dp {
        width: 20px;
        height: 20px;
        padding-right: 10px;
    }
    .menu {
        width: 100%;
        position: absolute;
        // overflow-y: scroll;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 90;
        transition: all ease .2s;
        color: #fff;
        ul {
            // position: fixed;
            // overflow-y: auto;
            width: 250px;
            font-family: 'Dosis', sans-serif;
            color: #fff;
            z-index: 1000;
            text-transform: uppercase;
            text-decoration: none;
            a {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
            }
            li {
                border-right: 2px solid #fa4b2a;
                padding: 15px;
                border-top: 1px solid #2f2f2f;
                transition: all ease .1s;
                &:hover {
                    a {
                        color: #fa4b2a;;
                    }
                }
            }
            .user {
                background-color: black;
                height: 100%;
            }
            li:not(.user) {
                background-color: #222222;
            }
            .triangle {
                width: 50px;
                height: auto;
            }
            .search-hide {
                display: none;
            }
        }
    }
    .ar {
        // align-items: flex-end;
        width: 100%;
        position: fixed;
        // float: right;
        top: 0%;
        right: -100%;
        z-index: 91;
        background-color: rgba(0, 0, 0, .5);
        transition: all ease .2s;
        .new-articles {
            // position: fixerd;
            // overflow-y: auto;
            float: right;
            z-index: 1001;
            height: 100%;
            width: 250px;
            background-color: #fff;
            font-size: 1em;
            .indi {
                border-left: 2px solid #fa4b2a;
            }
            h3 {
                color: #fff;
                background-color: #fa4b2a;
                display: inline-block;
                padding: 4px;
                font-family: 'Dosis', sans-serif;
                font-size: .8em;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1em 1em 0 1em;
            }
            li {
                font-family: 'Andada', serif;
                padding: 15px;
                span {
                    text-transform: lowercase;
                    display: block;
                    padding: 0 0 5px 0;
                    font-size: .7em;
                }
                p {
                    text-indent: 3px;
                }
            }
        }
    }
    .hide-left {
        left: -100%;
    }
    .show-left {
        left: 0%;
    }
    .hide-right{
        right: -100%;
    }
    .show-right {
        right: 0%;
    }
}


main {
    background-color: #fff;
    .bat-one {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        z-index: 0;
        .m-slot {
            display: block;
            position: relative;
            // opacity: 1;
            width: 100%;
            // padding: 1.5em;
            min-height: 175px;

            &:hover {
                    .image {
                        opacity: .2;
                    }

            }
            .image {
                position: relative;
                top: 0%;
                left: 0%;
                z-index: 0;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 175px;
                opacity: .4;
                // opacity:
            }
            .in {
                // float: left;
                position: absolute;
                top: 0;
                left: 0;
                margin: 1.5em;
                margin-bottom: 0;
                opacity: 1;
                z-index: 100;
            }
            h2 {
                font-family: 'Andada', serif;
                color: #fff;
                z-index: 21;
                font-size: 1.5em;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
            }

            p {color: #fff;
                z-index: 21;
                padding-top: 5px;
                font-size: .8em;
            }
        }
        .m-slot-scroll {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            width: 100%;
            .m-slot {
                min-width: 400px;
                width: 100%;
                height: 175px;
            }
        }
    }
    .bat-video {
        position: relative;
        .title {
            box-sizing: border-box;
            font-family: 'Dosis', sans-serif;
            color: #fff;
            text-transform: uppercase;
            line-height: 5px;
            padding: 5px;
            padding-right: 0;
            width: 100%;
            background-color: black;
            h2 {
                position: relative;
                // display: table-cell;
                font-size: 1.25em;
                display: inline-block;
                padding-left: 5px;
                a {
                    text-decoration: none;
                    color: #fa4b2a;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .video-icon {
                height: 27px;
                width: 27px;
            }
        }
        .main-video {
            background-color: black;
            video {
                width: 100%;
                height: auto;
            }
        }
        .playlist {

            color: #fff;
            ul {
                font-family: 'Andada', serif;
                // padding-left: 10px;
                display: flex;
                flex-direction: column;
                height: 166px;
                overflow-y: hidden;
                li {
                    // border-top: 1px solid black;
                    background-color: #222;
                    width: 100%;
                    display: table;
                    img, h4 {
                        display: inline-block;
                    }
                    img {
                        height: 82px;
                        width: 125px;
                    }
                    h4 {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &:hover {
                        color: #fa4b2a;
                        background-color:#353535
                    }
                }
            }
        }
        .foot {
            font-size: 1.3em;
            color: #fff;
            background-color: black;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Dosis', sans-serif;
            a {
                text-decoration: none;
                color: #fa4b2a;
            }
            &:hover {
                color: #fa4b2a;
                text-decoration: underline;
            }
        }
    }
    .bat-two {
        position: relative;
        ul {
            li {
                overflow: hidden;
                box-sizing: border-box;
                padding: 1em;
                width: 100%;
                height: 112px;
                border-top: 1px solid #ddd;
                img {
                    position: relative;
                    box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
                    background-size: cover;
                    float: left;
                    width: 75px;
                    height: 75px;

                }
                .content {
                    padding-left: 10px;
                    padding-top: 10px;
                    display: table-cell;
                    vertical-align: top;
                    font-size: .9em;
                    p {
                        span {
                            font-weight: bold;
                        }
                    }
                    h3 {
                        font-family: 'Andada', serif;
                        font-size: 1.1em;
                        padding-bottom: 5px;
                    }
                    .image {
                        display: none;
                        height: 200px;
                        width: auto;
                        box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: relative;
                    }
                    .t-content {
                        display: none;
                    }
                    q {
                        display: none;
                        font-size: 3em;
                        font-family: 'Dosis', sans-serif;
                        font-style: italic;
                        color: #fa4b2a;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.see-more {
    // position: relative;
    font-size: 1.5em;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1.7em 0 1.7em;
    color: #fa4b2a;
    background-color: #f7f1ee;
    &:hover {
        text-decoration: underline;
    }
}
.to-top {
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 1.1em 0 1.1em;
    background-color: #555;
    a {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
    }
}

footer {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #999;
    background-color: black;
    font-family: 'Andada', serif;
    a {
        box-sizing: border-box;
        color: #999;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    .search {
        // background-color: black;
        width: 100%;
        box-sizing: border-box;
        float: left;
        padding: 1.5em;
        text-align: center;
        .logo {
            display: none;
            width: 140px;
            height: auto;
            position: relative;
            padding-bottom: 10px;;
            margin: 0;
        }
        input {
            // font-family: 'Andada', serif;
            font-size: 1em;
            width: 90%;
            padding: 1.1em;
        }
    }
    .foot-sections {
        // background-color: black;
        box-sizing: border-box;
        float: left;
        width: 50%;
        // box-sizing: border-box;
        padding-left: 5%;
        ul {
            li {
                margin-top: 17px;
            }
        }
    }
    .foot-basics {
        // background-color: black;
        box-sizing: border-box;
        // box-sizing: border-box;
        width: 50%;
        float: left;
        ul {
            li {
                margin-top: 17px;
            }
        }
    }
    .foot-logo {
        float: left;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        padding-top: 15px;
        .vox-logo {
            height: 50px;
            width: 154px;
        }
        p {
            font-size: .9em;
            color: #fff;
            a {
                color: #fa4b2a;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .foot-social {
        display: none;
        float: left;
        box-sizing: border-box;
        ul {
            li {
                margin-top: 17px;
            }
        }
    }
    .f-title {
        font-family: 'Dosis', sans-serif;
        display: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        span {
            color: #fa4b2a;
            font-style: italic;
        }
    }
}
@media (min-width: 500px) {
    main {
        .bat-two {
            ul {
                li {
                    .content {
                        h3 {
                            font-size: 1.4em;
                        }
                    }
                }
            }

        }
    }
    footer {
        .foot-basics, .foot-sections, .foot-social {
            width: 33%;
        }
        .search {
            .logo {
                display: none;
            }
        }
        .foot-social {
            display: block;
        }
    }
}
@media (min-width: 600px) {
    header {
        #logo {
            max-width: 180px;
            // width: 180px;
            height: auto;
            padding-top: 13px;
        }
    }
    main {
        .bat-two {
            ul {
                // display: block;
                display: flex;
                flex-flow: wrap;
                justify-content: space-around;
                align-content: stretch;
                li {
                    display: inline-block;
                    width: 50%;
                    height: 100%;
                    img {
                        display: none;
                    }
                    .content {
                        padding: 4px;
                        h3 {
                            padding: 6px;
                            font-size: 1.5em;
                        }
                        p {
                            padding: 6px;
                        }
                        .image {
                            display: block;
                            margin: 6px;
                        }
                        .t-content {
                            display: block;
                            padding: 6px;
                            line-height: 1.4;
                        }
                        q {
                            display: block;
                        }
                    }
                }
                li:nth-child(2n+1) {
                    // float: left;
                    border-right: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                }
                li:nth-child(2n) {
                    // float: right;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                }
            }
        }
        .mod2 {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            .m-slot-scroll  {
                    overflow: visible;
                    .m-slot {
                    min-width: 300px;
                    width: 50%;
                }
            }
        }
        @media (min-width: 615px) {
            .mod5 {
                // display: block;
                vertical-align: top;
                width: 100%;
                .m-slot-scroll {
                    overflow: visible;
                    display: block;
                    position: relative;
                    .m-slot {
                        display: inline-block;
                        min-width: 300px;
                        float: left;
                        width: 50%;
                        height: 200px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        .image {
                            height: 200px;
                        }
                    }
                    .m-slot:nth-of-type(3) {
                        display: block;
                        min-width: 300px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .see-more {
        // background-color: #fff;
    }
    footer {
        .foot-basics, .foot-sections, .foot-social, .search {
            width: 25%;
        }
        .f-title {
            display: block;
        }
        .search {
            .logo {
                display: block;
            }
        }
        .foot-social {
            display: block;
        }
        .foot-logo {
            text-align: right;
        }
    }
}
