/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_common.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 4, ../sass/_common.scss */
header {
  height: 56px;
  width: auto;
  position: relative;
  background-color: #fa4b2a;
}
/* line 9, ../sass/_common.scss */
header img {
  padding-left: 20px;
  float: left;
  display: inline-block;
}
/* line 14, ../sass/_common.scss */
header #menu {
  max-width: 30px;
  width: 100%;
  height: auto;
  padding-top: 12px;
  padding-right: 11px;
}
/* line 21, ../sass/_common.scss */
header #logo {
  padding-left: 5px;
  max-width: 140px;
  width: 100%;
  height: auto;
  padding-top: 16px;
}
/* line 28, ../sass/_common.scss */
header .m-articles {
  float: right;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  border-left: 1px solid #fff;
}
/* line 37, ../sass/_common.scss */
header .m-articles strong {
  font-size: 2em;
  text-align: center;
  line-height: 1.15;
  display: block;
  letter-spacing: .1em;
}
/* line 44, ../sass/_common.scss */
header .m-articles em {
  text-transform: uppercase;
  font: .6em;
  font-weight: bold;
}

/* line 3, ../sass/_mobile.scss */
header .icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
/* line 8, ../sass/_mobile.scss */
header .dp {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
/* line 13, ../sass/_mobile.scss */
header .menu {
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  transition: all ease .2s;
  color: #fff;
}
/* line 23, ../sass/_mobile.scss */
header .menu ul {
  width: 250px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  z-index: 1000;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 32, ../sass/_mobile.scss */
header .menu ul a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 37, ../sass/_mobile.scss */
header .menu ul li {
  padding: 15px;
  border-top: 1px solid #2f2f2f;
  transition: all ease .1s;
}
/* line 42, ../sass/_mobile.scss */
header .menu ul li:hover a {
  color: #fa4b2a;
}
/* line 47, ../sass/_mobile.scss */
header .menu ul .user {
  background-color: black;
  height: 100%;
}
/* line 51, ../sass/_mobile.scss */
header .menu ul li:not(.user) {
  background-color: #222222;
}
/* line 54, ../sass/_mobile.scss */
header .menu ul .triangle {
  width: 50px;
  height: auto;
}
/* line 58, ../sass/_mobile.scss */
header .menu ul .search-hide {
  display: none;
}
/* line 63, ../sass/_mobile.scss */
header .ar {
  width: 100%;
  position: absolute;
  top: 0%;
  right: -100%;
  z-index: 91;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease .2s;
}
/* line 73, ../sass/_mobile.scss */
header .ar .new-articles {
  float: right;
  z-index: 1001;
  height: 100%;
  width: 250px;
  background-color: #fff;
  font-size: 1em;
}
/* line 82, ../sass/_mobile.scss */
header .ar .new-articles .indi {
  border-left: 2px solid #fa4b2a;
}
/* line 85, ../sass/_mobile.scss */
header .ar .new-articles h3 {
  color: #fff;
  background-color: #fa4b2a;
  display: inline-block;
  padding: 4px;
  font-family: 'Dosis', sans-serif;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 1em 0 1em;
}
/* line 96, ../sass/_mobile.scss */
header .ar .new-articles li {
  font-family: 'Andada', serif;
  padding: 15px;
}
/* line 99, ../sass/_mobile.scss */
header .ar .new-articles li span {
  text-transform: lowercase;
  display: block;
  padding: 0 0 5px 0;
  font-size: .7em;
}
/* line 105, ../sass/_mobile.scss */
header .ar .new-articles li p {
  text-indent: 3px;
}
/* line 111, ../sass/_mobile.scss */
header .hide-left {
  left: -100%;
}
/* line 114, ../sass/_mobile.scss */
header .show-left {
  left: 0%;
}
/* line 117, ../sass/_mobile.scss */
header .hide-right {
  right: -100%;
}
/* line 120, ../sass/_mobile.scss */
header .show-right {
  right: 0%;
}

/* line 126, ../sass/_mobile.scss */
main {
  background-color: #fff;
}
/* line 128, ../sass/_mobile.scss */
main .bat-one {
  position: relative;
  width: 100%;
  z-index: 0;
}
/* line 133, ../sass/_mobile.scss */
main .bat-one .m-slot {
  display: block;
  position: relative;
  width: 100%;
  min-height: 175px;
}
/* line 142, ../sass/_mobile.scss */
main .bat-one .m-slot .image {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 175px;
  opacity: .4;
}
/* line 154, ../sass/_mobile.scss */
main .bat-one .m-slot .image:hover {
  opacity: .2;
}
/* line 158, ../sass/_mobile.scss */
main .bat-one .m-slot .in {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.5em;
  margin-bottom: 0;
  opacity: 1;
  z-index: 100;
}
/* line 168, ../sass/_mobile.scss */
main .bat-one .m-slot h2 {
  font-family: 'Andada', serif;
  color: #fff;
  z-index: 21;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 176, ../sass/_mobile.scss */
main .bat-one .m-slot p {
  color: #fff;
  z-index: 21;
  padding-top: 5px;
  font-size: .8em;
}
/* line 182, ../sass/_mobile.scss */
main .bat-one .m-slot-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
/* line 186, ../sass/_mobile.scss */
main .bat-one .m-slot-scroll .m-slot {
  min-width: 400px;
  width: 100%;
  height: 175px;
}
/* line 193, ../sass/_mobile.scss */
main .bat-video {
  position: relative;
}
/* line 195, ../sass/_mobile.scss */
main .bat-video .title {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 5px;
  padding: 5px;
  padding-right: 0;
  width: 100%;
  background-color: black;
}
/* line 204, ../sass/_mobile.scss */
main .bat-video .title h2 {
  position: relative;
  font-size: 1.25em;
  display: inline-block;
  padding-left: 5px;
}
/* line 210, ../sass/_mobile.scss */
main .bat-video .title h2 a {
  text-decoration: none;
  color: #fa4b2a;
}
/* line 213, ../sass/_mobile.scss */
main .bat-video .title h2 a:hover {
  text-decoration: underline;
}
/* line 218, ../sass/_mobile.scss */
main .bat-video .title .video-icon {
  height: 27px;
  width: 27px;
}
/* line 224, ../sass/_mobile.scss */
main .bat-video .main-video video {
  width: 100%;
  height: auto;
}
