/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_common.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 4, ../sass/_common.scss */
header {
  height: 56px;
  width: auto;
  position: relative;
  background-color: #fa4b2a;
}
/* line 9, ../sass/_common.scss */
header img {
  padding-left: 20px;
  float: left;
  display: inline-block;
}
/* line 14, ../sass/_common.scss */
header #menu {
  max-width: 30px;
  width: 100%;
  height: auto;
  padding-top: 12px;
  padding-right: 11px;
}
/* line 21, ../sass/_common.scss */
header #logo {
  padding-left: 5px;
  max-width: 140px;
  width: 100%;
  height: auto;
  padding-top: 16px;
}
/* line 28, ../sass/_common.scss */
header .m-articles {
  float: right;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  border-left: 1px solid #fff;
}
/* line 37, ../sass/_common.scss */
header .m-articles strong {
  font-size: 2em;
  text-align: center;
  line-height: 1.15;
  display: block;
  letter-spacing: .1em;
}
/* line 44, ../sass/_common.scss */
header .m-articles em {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
}

/* line 3, ../sass/_mobile.scss */
header .icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
/* line 8, ../sass/_mobile.scss */
header .dp {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
/* line 13, ../sass/_mobile.scss */
header .menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  transition: all ease .2s;
  color: #fff;
}
/* line 23, ../sass/_mobile.scss */
header .menu ul {
  width: 250px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  z-index: 1000;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 32, ../sass/_mobile.scss */
header .menu ul a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 37, ../sass/_mobile.scss */
header .menu ul li {
  border-right: 2px solid #fa4b2a;
  padding: 15px;
  border-top: 1px solid #2f2f2f;
  transition: all ease .1s;
}
/* line 43, ../sass/_mobile.scss */
header .menu ul li:hover a {
  color: #fa4b2a;
}
/* line 48, ../sass/_mobile.scss */
header .menu ul .user {
  background-color: black;
  height: 100%;
}
/* line 52, ../sass/_mobile.scss */
header .menu ul li:not(.user) {
  background-color: #222222;
}
/* line 55, ../sass/_mobile.scss */
header .menu ul .triangle {
  width: 50px;
  height: auto;
}
/* line 59, ../sass/_mobile.scss */
header .menu ul .search-hide {
  display: none;
}
/* line 64, ../sass/_mobile.scss */
header .ar {
  width: 100%;
  position: fixed;
  top: 0%;
  right: -100%;
  z-index: 91;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease .2s;
}
/* line 74, ../sass/_mobile.scss */
header .ar .new-articles {
  float: right;
  z-index: 1001;
  height: 100%;
  width: 250px;
  background-color: #fff;
  font-size: 1em;
}
/* line 83, ../sass/_mobile.scss */
header .ar .new-articles .indi {
  border-left: 2px solid #fa4b2a;
}
/* line 86, ../sass/_mobile.scss */
header .ar .new-articles h3 {
  color: #fff;
  background-color: #fa4b2a;
  display: inline-block;
  padding: 4px;
  font-family: 'Dosis', sans-serif;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 1em 0 1em;
}
/* line 97, ../sass/_mobile.scss */
header .ar .new-articles li {
  font-family: 'Andada', serif;
  padding: 15px;
}
/* line 100, ../sass/_mobile.scss */
header .ar .new-articles li span {
  text-transform: lowercase;
  display: block;
  padding: 0 0 5px 0;
  font-size: .7em;
}
/* line 106, ../sass/_mobile.scss */
header .ar .new-articles li p {
  text-indent: 3px;
}
/* line 112, ../sass/_mobile.scss */
header .hide-left {
  left: -100%;
}
/* line 115, ../sass/_mobile.scss */
header .show-left {
  left: 0%;
}
/* line 118, ../sass/_mobile.scss */
header .hide-right {
  right: -100%;
}
/* line 121, ../sass/_mobile.scss */
header .show-right {
  right: 0%;
}

/* line 127, ../sass/_mobile.scss */
main {
  background-color: #fff;
}
/* line 129, ../sass/_mobile.scss */
main .bat-one {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 0;
}
/* line 135, ../sass/_mobile.scss */
main .bat-one .m-slot {
  display: block;
  position: relative;
  width: 100%;
  min-height: 175px;
}
/* line 144, ../sass/_mobile.scss */
main .bat-one .m-slot:hover .image {
  opacity: .2;
}
/* line 149, ../sass/_mobile.scss */
main .bat-one .m-slot .image {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 175px;
  opacity: .4;
}
/* line 162, ../sass/_mobile.scss */
main .bat-one .m-slot .in {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.5em;
  margin-bottom: 0;
  opacity: 1;
  z-index: 100;
}
/* line 172, ../sass/_mobile.scss */
main .bat-one .m-slot h2 {
  font-family: 'Andada', serif;
  color: #fff;
  z-index: 21;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 180, ../sass/_mobile.scss */
main .bat-one .m-slot p {
  color: #fff;
  z-index: 21;
  padding-top: 5px;
  font-size: .8em;
}
/* line 186, ../sass/_mobile.scss */
main .bat-one .m-slot-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}
/* line 191, ../sass/_mobile.scss */
main .bat-one .m-slot-scroll .m-slot {
  min-width: 400px;
  width: 100%;
  height: 175px;
}
/* line 198, ../sass/_mobile.scss */
main .bat-video {
  position: relative;
}
/* line 200, ../sass/_mobile.scss */
main .bat-video .title {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 5px;
  padding: 5px;
  padding-right: 0;
  width: 100%;
  background-color: black;
}
/* line 210, ../sass/_mobile.scss */
main .bat-video .title h2 {
  position: relative;
  font-size: 1.25em;
  display: inline-block;
  padding-left: 5px;
}
/* line 216, ../sass/_mobile.scss */
main .bat-video .title h2 a {
  text-decoration: none;
  color: #fa4b2a;
}
/* line 219, ../sass/_mobile.scss */
main .bat-video .title h2 a:hover {
  text-decoration: underline;
}
/* line 224, ../sass/_mobile.scss */
main .bat-video .title .video-icon {
  height: 27px;
  width: 27px;
}
/* line 229, ../sass/_mobile.scss */
main .bat-video .main-video {
  background-color: black;
}
/* line 231, ../sass/_mobile.scss */
main .bat-video .main-video video {
  width: 100%;
  height: auto;
}
/* line 236, ../sass/_mobile.scss */
main .bat-video .playlist {
  color: #fff;
}
/* line 239, ../sass/_mobile.scss */
main .bat-video .playlist ul {
  font-family: 'Andada', serif;
  display: flex;
  flex-direction: column;
  height: 166px;
  overflow-y: hidden;
}
/* line 246, ../sass/_mobile.scss */
main .bat-video .playlist ul li {
  background-color: #222;
  width: 100%;
  display: table;
}
/* line 251, ../sass/_mobile.scss */
main .bat-video .playlist ul li img, main .bat-video .playlist ul li h4 {
  display: inline-block;
}
/* line 254, ../sass/_mobile.scss */
main .bat-video .playlist ul li img {
  height: 82px;
  width: 125px;
}
/* line 258, ../sass/_mobile.scss */
main .bat-video .playlist ul li h4 {
  display: table-cell;
  vertical-align: middle;
}
/* line 262, ../sass/_mobile.scss */
main .bat-video .playlist ul li:hover {
  color: #fa4b2a;
  background-color: #353535;
}
/* line 269, ../sass/_mobile.scss */
main .bat-video .foot {
  font-size: 1.3em;
  color: #fff;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}
/* line 278, ../sass/_mobile.scss */
main .bat-video .foot a {
  text-decoration: none;
  color: #fa4b2a;
}
/* line 282, ../sass/_mobile.scss */
main .bat-video .foot:hover {
  color: #fa4b2a;
  text-decoration: underline;
}
/* line 288, ../sass/_mobile.scss */
main .bat-two {
  position: relative;
}
/* line 291, ../sass/_mobile.scss */
main .bat-two ul li {
  overflow: hidden;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: 112px;
  border-top: 1px solid #ddd;
}
/* line 298, ../sass/_mobile.scss */
main .bat-two ul li img {
  position: relative;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  background-size: cover;
  float: left;
  width: 75px;
  height: 75px;
}
/* line 307, ../sass/_mobile.scss */
main .bat-two ul li .content {
  padding-left: 10px;
  padding-top: 10px;
  display: table-cell;
  vertical-align: top;
  font-size: .9em;
}
/* line 314, ../sass/_mobile.scss */
main .bat-two ul li .content p span {
  font-weight: bold;
}
/* line 318, ../sass/_mobile.scss */
main .bat-two ul li .content h3 {
  font-family: 'Andada', serif;
  font-size: 1.1em;
  padding-bottom: 5px;
}
/* line 323, ../sass/_mobile.scss */
main .bat-two ul li .content .image {
  display: none;
  height: 200px;
  width: auto;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* line 333, ../sass/_mobile.scss */
main .bat-two ul li .content .t-content {
  display: none;
}
/* line 336, ../sass/_mobile.scss */
main .bat-two ul li .content q {
  display: none;
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  font-style: italic;
  color: #fa4b2a;
  text-transform: uppercase;
}

/* line 349, ../sass/_mobile.scss */
.see-more {
  font-size: 1.5em;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1.7em 0 1.7em;
  color: #fa4b2a;
  background-color: #f7f1ee;
}
/* line 360, ../sass/_mobile.scss */
.see-more:hover {
  text-decoration: underline;
}

/* line 364, ../sass/_mobile.scss */
.to-top {
  font-size: 1.2em;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1.1em 0 1.1em;
  background-color: #555;
}
/* line 371, ../sass/_mobile.scss */
.to-top a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

/* line 378, ../sass/_mobile.scss */
footer {
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #999;
  background-color: black;
  font-family: 'Andada', serif;
}
/* line 386, ../sass/_mobile.scss */
footer a {
  box-sizing: border-box;
  color: #999;
  text-decoration: none;
}
/* line 390, ../sass/_mobile.scss */
footer a:hover {
  color: #fff;
}
/* line 394, ../sass/_mobile.scss */
footer .search {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding: 1.5em;
  text-align: center;
}
/* line 401, ../sass/_mobile.scss */
footer .search .logo {
  display: none;
  width: 140px;
  height: auto;
  position: relative;
  padding-bottom: 10px;
  margin: 0;
}
/* line 409, ../sass/_mobile.scss */
footer .search input {
  font-size: 1em;
  width: 90%;
  padding: 1.1em;
}
/* line 416, ../sass/_mobile.scss */
footer .foot-sections {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 5%;
}
/* line 424, ../sass/_mobile.scss */
footer .foot-sections ul li {
  margin-top: 17px;
}
/* line 429, ../sass/_mobile.scss */
footer .foot-basics {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 436, ../sass/_mobile.scss */
footer .foot-basics ul li {
  margin-top: 17px;
}
/* line 441, ../sass/_mobile.scss */
footer .foot-logo {
  float: left;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
}
/* line 448, ../sass/_mobile.scss */
footer .foot-logo .vox-logo {
  height: 50px;
  width: 154px;
}
/* line 452, ../sass/_mobile.scss */
footer .foot-logo p {
  font-size: .9em;
  color: #fff;
}
/* line 455, ../sass/_mobile.scss */
footer .foot-logo p a {
  color: #fa4b2a;
}
/* line 457, ../sass/_mobile.scss */
footer .foot-logo p a:hover {
  text-decoration: underline;
}
/* line 463, ../sass/_mobile.scss */
footer .foot-social {
  display: none;
  float: left;
  box-sizing: border-box;
}
/* line 468, ../sass/_mobile.scss */
footer .foot-social ul li {
  margin-top: 17px;
}
/* line 473, ../sass/_mobile.scss */
footer .f-title {
  font-family: 'Dosis', sans-serif;
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
/* line 479, ../sass/_mobile.scss */
footer .f-title span {
  color: #fa4b2a;
  font-style: italic;
}

@media (min-width: 500px) {
  /* line 491, ../sass/_mobile.scss */
  main .bat-two ul li .content h3 {
    font-size: 1.4em;
  }

  /* line 501, ../sass/_mobile.scss */
  footer .foot-basics, footer .foot-sections, footer .foot-social {
    width: 33%;
  }
  /* line 505, ../sass/_mobile.scss */
  footer .search .logo {
    display: none;
  }
  /* line 509, ../sass/_mobile.scss */
  footer .foot-social {
    display: block;
  }
}
@media (min-width: 600px) {
  /* line 516, ../sass/_mobile.scss */
  header #logo {
    max-width: 180px;
    height: auto;
    padding-top: 13px;
  }

  /* line 525, ../sass/_mobile.scss */
  main .bat-two ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: stretch;
  }
  /* line 531, ../sass/_mobile.scss */
  main .bat-two ul li {
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  /* line 535, ../sass/_mobile.scss */
  main .bat-two ul li img {
    display: none;
  }
  /* line 538, ../sass/_mobile.scss */
  main .bat-two ul li .content {
    padding: 4px;
  }
  /* line 540, ../sass/_mobile.scss */
  main .bat-two ul li .content h3 {
    padding: 6px;
    font-size: 1.5em;
  }
  /* line 544, ../sass/_mobile.scss */
  main .bat-two ul li .content p {
    padding: 6px;
  }
  /* line 547, ../sass/_mobile.scss */
  main .bat-two ul li .content .image {
    display: block;
    margin: 6px;
  }
  /* line 551, ../sass/_mobile.scss */
  main .bat-two ul li .content .t-content {
    display: block;
    padding: 6px;
    line-height: 1.4;
  }
  /* line 556, ../sass/_mobile.scss */
  main .bat-two ul li .content q {
    display: block;
  }
  /* line 561, ../sass/_mobile.scss */
  main .bat-two ul li:nth-child(2n+1) {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  /* line 566, ../sass/_mobile.scss */
  main .bat-two ul li:nth-child(2n) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  /* line 573, ../sass/_mobile.scss */
  main .mod2 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  /* line 577, ../sass/_mobile.scss */
  main .mod2 .m-slot-scroll {
    overflow: visible;
  }
  /* line 579, ../sass/_mobile.scss */
  main .mod2 .m-slot-scroll .m-slot {
    min-width: 300px;
    width: 50%;
  }
}
@media (min-width: 600px) and (min-width: 615px) {
  /* line 586, ../sass/_mobile.scss */
  main .mod5 {
    vertical-align: top;
    width: 100%;
  }
  /* line 590, ../sass/_mobile.scss */
  main .mod5 .m-slot-scroll {
    overflow: visible;
    display: block;
    position: relative;
  }
  /* line 594, ../sass/_mobile.scss */
  main .mod5 .m-slot-scroll .m-slot {
    display: inline-block;
    min-width: 300px;
    float: left;
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 602, ../sass/_mobile.scss */
  main .mod5 .m-slot-scroll .m-slot .image {
    height: 200px;
  }
  /* line 606, ../sass/_mobile.scss */
  main .mod5 .m-slot-scroll .m-slot:nth-of-type(3) {
    display: block;
    min-width: 300px;
    width: 100%;
  }
}

@media (min-width: 600px) {
  /* line 619, ../sass/_mobile.scss */
  footer .foot-basics, footer .foot-sections, footer .foot-social, footer .search {
    width: 25%;
  }
  /* line 622, ../sass/_mobile.scss */
  footer .f-title {
    display: block;
  }
  /* line 626, ../sass/_mobile.scss */
  footer .search .logo {
    display: block;
  }
  /* line 630, ../sass/_mobile.scss */
  footer .foot-social {
    display: block;
  }
  /* line 633, ../sass/_mobile.scss */
  footer .foot-logo {
    text-align: right;
  }
}
